#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=ffmpy

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bhtml        docs/ build/html # HTML generator
	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bman        docs/ build/man # Manpage generator

override_dh_auto_clean:
	dh_auto_clean
	rm -rf .cache/

# TODO: make tests work
override_dh_auto_test:
	#dh_auto_test -- --test-pytest
	true

# This get-orig-source rule creates a tarball given the Git URL and commit hash.
# This looks at the "commithash" portion of the Debian package version, which is
# in the format majorversion+gitXYZ~commithash-1.
PACKAGE = $(shell dpkg-parsechangelog --show-field=Source)
VERSION = $(shell dpkg-parsechangelog --show-field=Version)
ORIG_VERSION = $(shell echo $(VERSION) | cut -f 1 -d '-')
COMMIT = $(shell echo $(ORIG_VERSION) | rev | cut -f -1 -d '~' | rev)
URL = https://github.com/Ch00k/ffmpy

get-orig-source:
	# Cloning upstream repository.
	git clone $(URL) "$(PACKAGE)-$(ORIG_VERSION)"
	# Generating archive from commit.
	cd "$(PACKAGE)-$(ORIG_VERSION)" && git archive -v $(COMMIT) -o \
	../../$(PACKAGE)_$(ORIG_VERSION).orig.tar.gz
	# Removing temporary Git tree.
	rm -rf "$(PACKAGE)-$(ORIG_VERSION)"
